ul {
   
   
}

h2 {
    font-style: italic;
}
body{
    display: flex;
}
.min {
    background-color: antiquewhite;
    
    height:100vh;
    
}
section {
    display:inline;
}

.main-text {
    font-size:16px;
    color:#7c7c7c;
    font-weight: bold;
}

.desc-text {
    font-size:16px;
    font-weight: bold;
    color: #282828;
}

.des-subtext {
    font-size: 13px;
    color: black;

}


.section1{
    margin: 10px;
}

.section2{
    margin: 10px;
}